.app__imageslider-caption {
    display: flex;
    justify-content: flex-start;
    align-content: left;
    width: 30%;
    padding: 1rem;
    color: var(--white-color);
    background-color: rgba(0, 0, 0, 0.8);
}